@font-face {
  font-family: 'iconfont';
  /* project id 767086 */
  src: url('//at.alicdn.com/t/font_767086_lqicp1dkya.eot');
  src: url('//at.alicdn.com/t/font_767086_lqicp1dkya.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_767086_lqicp1dkya.woff') format('woff'), url('//at.alicdn.com/t/font_767086_lqicp1dkya.ttf') format('truetype'), url('//at.alicdn.com/t/font_767086_lqicp1dkya.svg#iconfont') format('svg');
}